.container {
  display: flex;
  flex-direction: column;
}

.container > div[class$="-pallete"] {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  > div {
      padding: 6rem 1.5rem 6rem 1.5rem;
      background-color: red;
      margin-left: 0.2%;
      margin-right: 0.2%;
      margin-bottom: 1%;
  }
}