html,
body {
    margin: 0;
    padding: 0;
}

@mixin header-flex-style {
    background-color: lightpink;
    display: flex;
    justify-content: space-between;

    >div {
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }
}

@media screen and (min-width: 48rem) {
    .container {
        >.header {
            @include header-flex-style;
        }

        >.navbar {
            display: flex;
            justify-content: space-between;

            >div {
                width: 100%;
                display: flex;
                justify-content: center;
                border: 1px solid grey;
            }
        }
    }
}

@media screen and (max-width: 48rem) {
    .container {
        >.header {
            @include header-flex-style;

            >div[class="title"] {
                display: none;
            }
        }

        >.navbar {
            position: fixed;
            left: 0;
            bottom: 0;
            min-width: 100%;
            display: flex;
            justify-content: space-between;

            >div {
                @media screen and (max-width: 33rem) {
                    font-size: 0.5rem;
                }
                width: 100%;
                display: flex;
                justify-content: center;
                border: 1px solid grey;
            }
        }
    }
}